<?xml version="1.0" encoding="utf-8"?>
<manifest
	package = "com.nullcognition.joebirchmvvm"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	>

	<uses-permission android:name = "android.permission.INTERNET"/>
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>

	<application
		android:allowBackup = "true"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:name = ".HackerNewsApplication"
		android:supportsRtl = "true"
		android:theme = "@style/AppTheme"
		>
		<activity
			android:label = "@string/app_name"
			android:name = "com.nullcognition.joebirchmvvm.view.activity.MainActivity"
			android:theme = "@style/AppTheme.NoActionBar"
			>
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>

				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name = "com.nullcognition.joebirchmvvm.view.activity.UserActivity"
			android:screenOrientation = "portrait"
			android:theme = "@style/AppTheme.NoActionBar"
			/>
		<activity
			android:name = "com.nullcognition.joebirchmvvm.view.activity.CommentsActivity"
			android:screenOrientation = "portrait"
			android:theme = "@style/AppTheme.NoActionBar"
			/>
		<activity
			android:name = "com.nullcognition.joebirchmvvm.view.activity.ViewStoryActivity"
			android:screenOrientation = "portrait"
			android:theme = "@style/AppTheme.NoActionBar"
			/>

	</application>
</manifest>
